/*
This contains css that we added ourselves
*/
.navbar {
  padding-left: 2.5rem;
}

.navbar-nav .active .nav-link {
  color: rgba(255, 255, 255, 1) !important;
}

.banner {
  background-image: url("../img/pexels-pixabay-163097.jpg");
  background-size: cover;
}

.banner-text-bg {
  background-color: rgba(220, 220, 220, 0.7);
}

.btn {
  background-color: #75eff7;
  color: black;
}

.btn:hover {
  background-color: #17f0ff;
  color: white;
}

.no-underline {
  text-decoration: none !important;
}

.goto-freetrial {
  color: white;
}

.goto-freetrial:hover {
  color: #eeeeee;
}
.login-button {
  width: 33%;
}

.forgot-password {
  margin-left: 15px;
}

.register-button {
  width: 50%;
}

.btn-outline-secondary:hover {
  border-color: white !important;
}

#sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  background-color: black;
  transition: 0.4s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #17f0ff;
}

.active-nav {
  margin-left: 0;
}

.active-cont {
  margin-left: 250px;
}

#sidebarCollapse {
  margin-top: 14px;
  height: 35px;
}

#navbar-brand {
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

.navbar-custom {
  height: 50px;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.form-group {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
  margin-left: 30px;
}
