/*
This contains css that we added ourselves
*/
.navbar {
    padding-left:2.5rem;
}

.navbar-nav .active .nav-link{
    color:rgba(255, 255, 255, 1)!important;
} 

.banner{
    background-image: url("../img/pexels-pixabay-163097.jpg");
    background-size: cover;
}

.banner-text-bg{
    background-color:rgba(220,220,220,0.7);
}

.btn{
    background-color:#75eff7;
    color:black;
}

.btn:hover{
    background-color:#17f0ff;
    color:white;
}

.no-underline{
    text-decoration: none!important;
}

.goto-freetrial{
    color:white;
}

.font-weight-normal{
    font-weight:normal;
}

.font-weight-medium{
    font-weight: 500;
}

.font-weight-bold{
    font-weight:bold;
}

.goto-freetrial:hover{
    color:#eeeeee;
}
.login-button{
    width:33%;
}

.forgot-password{
    margin-left:15px;
}

.register-button{
    width:50%;
}

.btn-outline-secondary:hover{
    border-color:white!important;
}

.card {
    margin-left:30px;
    margin-right:30px;
    min-height:260px;
}

.card-body i{
    font-size:50px;
    padding-top:30px;
    padding-bottom:20px;
}

.card .center{
    margin: 0 auto;
}

/*Free-Trial*/
.container {
    height: auto;
  }

  #percentage {
    background-color: #fff;
  }
  
  .box {
    width: 70%;
    background-color: #d3d3d3;
    margin: 20px;
    font-size: 15px;
    margin-bottom: 30px;
  }
  
  .square {
    width: 8%;
    height: 8%;
  }
  
  .p {
    text-align: right;
  }