<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twidector - About Us</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-utilities.css' %}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

    <!--Favicon-->
    <link rel="icon" href="{% static 'img/cropped-twidector-1-1.png' %}" sizes="32x32" />
    <link rel="icon" href="{% static 'img/cropped-twidector-1-2.png' %}" sizes="192x192" />
    <link rel="apple-touch-icon" href="{% static 'img/cropped-twidector-1-2.png' %}" />

</head>

<body>
    <!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'about-us' %}">About Twidector</a>
                            <a class="dropdown-item" href="{% url 'about-team' %}">About the team</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'free-trial' %}">Free Trial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://fyp22s205.wordpress.com/blog">Blog</a>
                    </li>

                </ul>
            </div>
            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto" href="{% url 'index' %}">Twidector</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            {% if 'loggedin' not in request.session %}
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                </ul>
            </div>
            {% else %}
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>

    <!--Banner-->
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light banner">
        <div class="col-md-5 p-lg-5 mx-auto my-5 banner-text-bg">
            <h1 class="display-4 font-weight-normal">About Twidector</h1>
            <p class="lead font-weight-normal">Learn more about what twidector is about!</p>
        </div>
    </div>

    <div class="overflow-hidden">
        <div class="row p-5">
            <div class="col-md-6">
                <img class="img-fluid" src="{% static 'img/pexels-pixabay-163097.jpg' %}">
            </div>
            <div class="col-md-6">
                <h3 class="font-weight-bold" style="padding-bottom:10px;">About Twidector</h3>
                <hr>
                <p class="font-weight-normal">With the increasing popularity of social media over the years, there is
                    also a noticeable increase of
                    hateful content being exchanged
                    or shared amongst users. Therefore, we have decided to create and propose an application, Twidector,
                    that is capable of identifying
                    these hateful content as negative posts and categorising their context such as fake news, fraud or
                    hateful words. Hateful words would
                    then be further categorised as racist, terrorism, etc.
                    <br /><br />
                    With Twidector, users will be able to search and scan through any Twitter user with their respective
                    profile url. With a click, they
                    are able to identify what sort of user they are and what content they retweet or share among their
                    peers/friends. This is all thanks
                    to our database and machine-learning algorithm which will identify and categorise their tweets. We
                    also
                    give suggestions on potential
                    users that you may recognise that are also known to be negative users through our user database.
                </p>
            </div>
        </div>
    </div>

    <div class="container mb-5 ">
        <div class="row justify-content-md-center">
            <h3 class="text-center mb-4 mt-3"> All our plans and features </h3>
            <div class="col-md-10">

                <table class="table table-bordered table-striped table-responsive text-center feature-table">
                    <thead>
                        <tr>
                            <th scope="col" style="width:48%">Feature</th>
                            <th scope="col" style="width:16%">Free</th>
                            <th scope="col" style="width:16%">Basic</th>
                            <th scope="col" style="width:16%">Business</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="font-weight-medium" scope="row">Hate Detection</th>
                            <td><i class="fa fa-check"></td>
                            <td><i class="fa fa-check"></td>
                            <td><i class="fa fa-check"></td>
                        </tr>
                        <tr>
                            <th class="font-weight-medium" scope="row">Fraud Detection</th>
                            <td><i class="fa fa-x"></td>
                            <td><i class="fa fa-check"></td>
                            <td><i class="fa fa-check"></td>
                        </tr>
                        <tr>
                            <th class="font-weight-medium" scope="row">Fake news Detection</th>
                            <td><i class="fa fa-x"></td>
                            <td><i class="fa fa-check"></td>
                            <td><i class="fa fa-check"></td>
                        </tr>
                        <tr>
                            <th class="font-weight-medium" scope="row">Blacklist recommendation </th>
                            <td><i class="fa fa-x"></td>
                            <td><i class="fa fa-x"></td>
                            <td><i class="fa fa-check"></td>
                        </tr>

                        <tr>
                            <th class="font-weight-medium" scope="row">Whitelist </th>
                            <td><i class="fa fa-x"></td>
                            <td><i class="fa fa-x"></td>
                            <td><i class="fa fa-check"></td>
                        </tr>

                        <tr>
                            <th class="font-weight-medium" scope="row">Blacklist </th>
                            <td><i class="fa fa-x"></td>
                            <td><i class="fa fa-x"></td>
                            <td><i class="fa fa-check"></td>
                        </tr>

                        <tr>
                            <th class="font-weight-medium" scope="row">Fact Check </th>
                            <td><i class="fa fa-x"></td>
                            <td><i class="fa fa-check"></td>
                            <td><i class="fa fa-check"></td>
                        </tr>

                        <tr>
                            <th class="font-weight-medium" scope="row">Block </th>
                            <td><i class="fa fa-x"></td>
                            <td><i class="fa fa-check"></td>
                            <td><i class="fa fa-x"></td>
                        </tr>


                        <tr>
                            <th class="font-weight-medium" scope="row">Categorising Hate Content </th>
                            <td><i class="fa fa-x"></td>
                            <td><i class="fa fa-check"></td>
                            <td><i class="fa fa-check"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <a type="button" class="btn btn-outline-secondary" href="{%url 'register'%}"
                style="width:33%;margin:20px auto;">Join us right now!</a>
        </div>
    </div>

    <!--JavaScript(s)-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>