<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Twidector Dashboard - Analysis</title>

  <!-- CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!--Favicon-->
  <link rel="icon" href="{% static 'img/cropped-twidector-1-1.png' %}" sizes="32x32" />
  <link rel="icon" href="{% static 'img/cropped-twidector-1-2.png' %}" sizes="192x192" />
  <link rel="apple-touch-icon" href="{% static 'img/cropped-twidector-1-2.png' %}" />
</head>

<body>
  <!--Navigation-->
  <!-- Vertical navbar -->
  <div class="vertical-nav bg-white" id="sidebar">
    </br></br></br>
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">
      Dashboard
    </p>

    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="{% url 'dashboard'%}" class="nav-link text-dark bg-light">
          <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
          Home
        </a>
      </li>
      <li class="nav-item side-active">
        <a href="{% url 'analyse'%}" class="nav-link text-dark bg-light">
          <i class="fa fa-calculator mr-3 text-primary fa-fw"></i>
          Analyse User
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'favourites'%}" class="nav-link text-dark bg-light">
          <i class="fa fa-check mr-3 text-primary fa-fw"></i>
          Favourites
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'block-list'%}" class="nav-link text-dark bg-light">
          <i class="fa fa-times mr-3 text-primary fa-fw"></i>
          Block List
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'settings'%}" class="nav-link text-dark bg-light">
          <i class="fa fa-cog mr-3 text-primary fa-fw"></i>
          Settings
        </a>
      </li>
    </ul>
  </div>
  <!-- End vertical navbar -->

  <!-- the header bar -->

  <nav class="navbar navbar-custom navbar-expand-md navbar-dark
      bg-dark
      shadow-sm
    ">
    <div class="container-fluid">
      <div class="
          navbar-collapse
          collapse
          w-100
          order-1 order-md-0
          dual-collapse2
        ">
        <!-- Toggle button -->
        <button id="sidebarCollapse" type="button" class="px-1 mb-3">
          <i class="fa-solid fa-bars" style="padding: 0 3px;"></i>
        </button>
        <button id="sidebarCollapse" type="button" class="btn btn-light bg-white shadow-sm px-1 mb-3 dashboard-btn">
          <small class="text-uppercase font-weight-bold">Twidector</small>
        </button>
      </div>

      <!-- twidector title -->
      <!-- <div class="mx-auto w-100 order-2" id="title_">Twidector</div> -->

      <!-- logout -->
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout'%}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- CONTENT -->
  <form class="page-content p-3" id="content" method="POST" action="/analyse/">
    {% csrf_token %}
    <div class="container mt-4">
      <div class="col-md-10">
        <h4 for="exampleInputEmail1">Analyse Twitter User</h4>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" class="form-control" id="Analyse-User" placeholder="Twitter Username" name="twitter-url">
        </div>

        <!--  Search button -->
        <div class="">
          <input type="submit" class="btn btn-block btn-black-outline-secondary text-center" value="Analyse" name="search-url">
          </a>
        </div>

        <hr>
      </div>

      {% if not dataframe %}

      {%else%}
      <!-- profile picture - rounded image + profile of the account -->
      <div class="mt-5 mb-5">
        <div class="row">
          <div class="col-md-10 pt-4 ">
            <div class="row mb-4">
              <div class="col-md-3">
                <img loading="lazy" src="{{img}}"
                  alt="..." width="80" height="80" class="mr-3 rounded-circle img-thumbnail shadow-sm" />
                <!-- USERNAME -->
                <div class="media-body">
                  <p class="m-0" style="font-weight:bold">@{{user}}</p>
                </div>
              </div>
              <div class="col-md-4">
                <p class="card-text"> Summary: <br /> This user is a <strong>negative</strong> twitter user.</p>

                <p class="card-text"> Found <strong>{{TypeCount.total_negative}}</strong> Negative Tweets. 
                  <br /> {{TypeCount.offensive}}/{{dataSize}} are offensive. 
                  <br /> {{TypeCount.hateful}}/{{dataSize}} are hateful. 
                  <br /> {{TypeCount.neutral}}/{{dataSize}} are neutral.
              </p>
              </div>
              <div class="col-md-5">
                <h5 class="card-title text-center">Analysis Result</h5>
                <canvas id="myChart" width="300" height="150"></canvas>
              </div>
            </div>

            <hr>
          </div>
        </div>

        <!-- sorting and filtering -->
        <div class='form-inline row mt-4'>
          <div class='form-group col-sm-3'>
            <h3>Twitter History</h3>
          </div>
          <div class="input-group col-md-3">
            <label class="input-group-text" for="inputGroupSelect01">Filter by</label>
            <select class="form-select" id="inputGroupSelect01" name="filter-by">
              <option selected>Choose...</option>
              <option value="0">Offensive</option>
              <option value="1">Hateful</option>
              <option value="2">Neutral</option>
            </select>
          </div>
          <div class='input-group col-md-3'>
            <label class="input-group-text" for="inputGroupSelect01">Sort by</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">Newest Tweet</option>
              <option value="2">Oldest Tweet</option>
            </select>
          </div>
          <div class='input-group col-md-3'>
            <input type="submit" class="btn btn-block bg-dark text-white" value="Filter" name="filter">
          </div>
        </div>


        <!-- content tweets -->
        <div class="card-body mt-4">

          {% for tweet_item in dataframe.itertuples%}

          <div class="row">
            <div class="tweet-header col-md-10">
              <div class="row mb-3">
                <div class="col-md-4">
                  <img src="{{img}}" alt=""
                    width="80" height="80" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                </div>
                <div class="col-md-8">
                  <div class="btn-group pt-3" style="float:right;">
                    <button type="button" class="btn bg-dark text-white dropdown-toggle" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Actions
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <!-- <li><a class="dropdown-item" href="{% url 'view-tweet'%}">View Tweet Analysis</a></li> -->
                      <li><a class="dropdown-item" href="#">Favourite User</a></li>
                      <li><a class="dropdown-item" href="#">Block User</a></li>
                      <li><a class="dropdown-item" href="{% url 'report-tweet' tweet_item.tweetid %}">Report Inaccuracy</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <h6>@{{user}} <small>{{tweet_item.date}}</small> 
                  {% if tweet_item.predicted_score == 0 %}
                    
                    <span style="float:right; color:red;"><strong>Offensive</strong></span></h6>
                    {% elif tweet_item.predicted_score == 1 %}
                    <span style="float:right; color:red;"><strong>Hateful</strong></span></h6>
                    {% else %}
                    <span style="float:right; color:lightskyblue;"><strong>Neutral</strong></span></h6>
                  {%endif%}

                <p class="mt-3">{{tweet_item.tweet}}</p>
              </div>
              <hr>
            </div>
          </div>

          {%endfor%}
        </div>
      </div>

      {% endif %}
    </div>

  </form>



  <!-- JavaScript(s) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>

  <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Offensive', 'Hateful', 'Neutral'],
        datasets: [{
          label: '# of Tweets',
          data: [{{TypeCount.offensive}}, {{TypeCount.hateful}}, {{TypeCount.neutral}}],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        indexAxis: 'y',
        // Elements options apply to all of the options unless overridden in a dataset
        // In this case, we are setting the border of each horizontal bar to be 2px wide
        elements: {
          bar: {
            borderWidth: 2,
          }
        },

      },
    });
  </script>

  <script src="{% static 'js/sideBar.js' %}"></script>
</body>

</html>