<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twidector - Free Trial</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-utilities.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

    <!--Favicon-->
    <link rel="icon" href="{% static 'img/cropped-twidector-1-1.png' %}" sizes="32x32" />
    <link rel="icon" href="{% static 'img/cropped-twidector-1-2.png' %}" sizes="192x192" />
    <link rel="apple-touch-icon" href="{% static 'img/cropped-twidector-1-2.png' %}" />

</head>

<body>
    <!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'about-us' %}">About Twidector</a>
                            <a class="dropdown-item" href="{% url 'about-team' %}">About the team</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'free-trial' %}">Free Trial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://fyp22s205.wordpress.com/blog">Blog</a>
                    </li>
                    
                </ul>
            </div>
            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto" href="{% url 'index' %}">Twidector</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            {% if 'loggedin' not in request.session %}
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            </ul>
        </div>
        {% else %}
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
          </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
          </ul>
      </div>
      {% endif %}
        </div>
    </nav>

    <!--Banner-->
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light banner">
        <div class="col-md-5 p-lg-5 mx-auto my-5 banner-text-bg">
            <h1 class="display-4 font-weight-normal">Free Trial</h1>
            <p class="lead font-weight-normal">Give Twidector a try right now!</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-outline mb-4 mt-4">
                    <h4 class="text-center mb-4">Key in a Twitter's user URL Below</h5>
                        <input type="text" id="email" class="form-control" placeholder="Twitter User's URL" />
                        <small class="text-muted text-form">Enter a Twitter's user URL. E.g:
                            https://www.twitter.com/UserIGN . We will text-scrape the profile and begin our hate
                            detection algorithm. <br /> Note: Ensure that the user profile is public.</small>
                </div>
            </div>
        </div>
    </div>

    <!--Content-->


    <!--JavaScript(s)-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>