<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twidector - Free Trial</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

    <!--Favicon-->
    <link rel="icon" href="{% static 'img/cropped-twidector-1-1.png' %}" sizes="32x32" />
    <link rel="icon" href="{% static 'img/cropped-twidector-1-2.png' %}" sizes="192x192" />
    <link rel="apple-touch-icon" href="{% static 'img/cropped-twidector-1-2.png' %}" />

</head>

<body>
    <!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'about-us' %}">About Twidector</a>
                            <a class="dropdown-item" href="{% url 'about-team' %}">About the team</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'free-trial' %}">Free Trial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://fyp22s205.wordpress.com/blog">Blog</a>
                    </li>

                </ul>
            </div>
            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto" href="{% url 'index' %}">Twidector</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            {% if 'loggedin' not in request.session %}
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                </ul>
            </div>
            {% else %}
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>

    <!--Banner-->
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light banner">
        <div class="col-md-5 p-lg-5 mx-auto my-5 banner-text-bg">
            <h1 class="display-4 font-weight-normal">Free Trial</h1>
            <p class="lead font-weight-normal">Give Twidector a try right now!</p>
        </div>
    </div>

    <form id="content" action="/free-trial/" method="POST">
        {% csrf_token %}
        <div class="container">
            {% if not dataframe %}

            <!--Error Messages-->
            {% if messages %}
            {% for message in messages %}
            <p class="alert alert-{{ message.tags }}">
                {{ message }}
            </p>
            {% endfor %}
            {% endif %}

            <div class="row">
                <h4 class="text-center mt-4">Key in a Twitter's user URL Below</h4>
                <div class="col-md-12">
                    <div class="form-outline mb-4 mt-2">

                        <input type="text" id="email" class="form-control" name="twitter-url"
                            placeholder="Twitter User's URL" />
                        <small class="text-muted text-form">Enter a Twitter's user IGN. E.g:
                            We will text-scrape the profile and begin our hate 
                            detection algorithm. <br /> Note: Ensure that the user profile is public.</small>
                    </div>
                    <!-- search Button -->


                    <div class="d-grid gap-2 col-3 mx-auto">
                        <input type="submit" class="btn btn-block btn-black-outline-secondary text-center"
                            value="Search" />
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row justify-content-md-center">
                
                <h3 class="text-center mt-4"> Analysed <strong>{{dataframe|length}}</strong> Tweets from user - {{user}}</h3>

                {% if dataframe|length >= 200 %}

                <p class="text-center"><small >You have reached the limit of max analysed tweets for free users. Join us to analyse more!</small></p>

                {% endif %}

                <div class="card" style="box-shadow:5px 3px red;">
                    <div class="card-header pt-4">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="{{img}}" style="height:165px;" />
                            </div>
                            <div class="col-md-4">
                                <h5 class="card-title">Twitter user: {{user}}</h5>
                                <h6 class="card-subtitle mb-5"><a href="http://www.twitter.com/{{user}}">http://www.twitter.com/{{user}}</a></h6>
                                <p class="card-text"> Summary: <br /> This user is a <strong>negative</strong> twitter
                                    user.</p>
                            </div>
                            <div class="col-md-5">
                                <h5 class="card-title">Scan Result:</h5>
                                <p class="card-text"> Found <strong>{{TypeCount.total_negative}}</strong> Negative Tweets. 
                                    <br /> {{TypeCount.offensive}}/{{dataframe|length}} are offensive. 
                                    <br /> {{TypeCount.hateful}}/{{dataframe|length}} are hateful. 
                                    <br /> {{TypeCount.neutral}}/{{dataframe|length}} are neutral.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        {% for tweet_item in dataframe.itertuples%}
                        <div class="row">
                            <div class="col-md-7">
                                <h6>Tweet #{{tweet_item.index}} <small>Posted on {{tweet_item.date}}</small></h6>
                                <p>{{ tweet_item.tweet }}</p>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-4">
                                <h6>Tweet Classification</h6>
                                {% if tweet_item.predicted_hate_score == 0 %}
                                <p>This is an <strong>Offensive</strong> Tweet. <br /> Tweet contains vulgar words.</p>
                                {% elif tweet_item.predicted_hate_score == 1 %}
                                <p>This is an <strong>Hateful</strong> Tweet.</p>
                                {% else %}
                                <p>This is an <strong>Neutral</strong> Tweet.</p>
                                {%endif%}
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                    <div class="card-footer mt-3">
                        <h5 class="text-center mt-4">Want to learn more?</h5>
                        <div class="d-grid gap-2 col-3 mx-auto mb-3">
                            <a type="button" href="{% url 'register' %}"
                                class="btn btn-block btn-black-outline-secondary text-center">Join us right now!</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </form>

    <!--JavaScript(s)-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>