<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Twidector - Login</title>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-utilities.css' %}" />

  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

  <!--Favicon-->
  <link rel="icon" href="{% static 'img/cropped-twidector-1-1.png' %}" sizes="32x32" />
  <link rel="icon" href="{% static 'img/cropped-twidector-1-2.png' %}" sizes="192x192" />
  <link rel="apple-touch-icon" href="{% static 'img/cropped-twidector-1-2.png' %}" />
</head>

<body>
  <!--Navigation-->
  <!-- Vertical navbar -->
  <div class="vertical-nav bg-white" id="sidebar">
    </br></br></br>
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">
      Admin Dashboard
    </p>

    <ul class="nav flex-column bg-white mb-0">
    
        <li class="nav-item">
        <a href="search-account.html" class="nav-link text-dark bg-light">
          <i class="fa fa-user" aria-hidden="true"></i>
          Manage Accounts
        </a>
      </li>

      <li class="nav-item">
        <a href="accuracy-score.html" class="nav-link text-dark bg-light">
          <i class="fa fa-area-chart" aria-hidden="true"></i>
          Accuracy Score
        </a>
      </li>
      <li>
        <a
          class="nav-link px-3 sidebar-link text-dark bg-light"
          data-bs-toggle="collapse"
          href="#layouts"
        >
        <i class="fa fa-file-text" aria-hidden="true"></i>
          <span>Testing</span>
   
        </a>
             <div class="collapse" id="layouts">
          <ul class="navbar-nav ps-3">
            <li>
              <a href="model_testing.html" class="nav-link px-3">
                <span class="me-2"
                  ><i class="bi bi-speedometer2"></i
                > <i class="fa fa-align-left" aria-hidden="true"></i></span>
                <span>Model Testing</span>
              </a>
            </li>
                  <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"
                  ><i class="bi bi-speedometer2"></i
                >  <i class="fa fa-pie-chart" aria-hidden="true"></i></span>
              
                <span>Future Testing</span>
              </a>
            </li>
          </ul>
        </div>
            </li>
    </ul>
  </div>
  <!-- End vertical navbar -->

  <!-- the header bar -->

  <nav class="navbar navbar-custom navbar-expand-md navbar-dark
        bg-dark
        shadow-sm
      ">
    <div class="container-fluid">
      <div class="
            navbar-collapse
            collapse
            w-100
            order-1 order-md-0
            dual-collapse2
          ">
        <!-- Toggle button -->
        <button id="sidebarCollapse" type="button" class="px-1 mb-3">
          <i class="fa-solid fa-bars" style="padding: 0 3px;"></i>
        </button>
        <button id="sidebarCollapse" type="button" class="btn btn-light bg-white shadow-sm px-1 mb-3 dashboard-btn">
          <small class="text-uppercase font-weight-bold">Twidector</small>
        </button>
      </div>

      <!-- twidector title -->
      <!-- <div class="mx-auto w-100 order-2" id="title_">Twidector</div> -->

      <!-- logout -->
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <!-- CONTENT -->
  <!-- <div class="page-content p-3" id="content"> -->
  <form class="page-content p-3" id="content">
  </br>
    <h2 style="margin-left: 30px;">User Profile</h2>
                  <div class="card" id="searchbox" >
                      <div class="card-body" >
                          <div class="row">
                                        <div class="tweet-header">
                                          <img class="center rounded-circle mt-4 mb-2" src="{% static 'img/emptyprofile.png' %}" width="80">
                                        
                                            <div class="col-md-4" style="margin-left: 20px;">
                                              </br>
                                                <div class="form-group row">
                                                <label><strong>Username</strong></label>
                                                <div class="col-sm-10">
                                                  <input class="form-control" placeholder="Username" value="clare123">
                                                </div>
                                              </div>

                                                <div class="form-group row">
                                                <label ><strong>Email</strong></label>
                                                <div class="col-sm-10">
                                                  <input type="email" class="form-control"  placeholder="Email" value="clar123@gmail.com">
                                                </div>
                                              </div>

                                                <div class="form-group row">
                                                <label ><strong>Twitter Username</strong></label>
                                                <div class="col-sm-10">
                                                  <input class="form-control" placeholder="twitter-username" value="@clar123"> 
                                              
                                                </div>
                                              </div>
                                            </div>
                                                      
                                            
                                            
                                            <!-- update button -->
                                            <div class="dropdown" >
                                              
                                                     <button type="submit" class="btn btn-primary mb-2" style="margin-top: 20px;">Update </button>

                                                      <button type="submit" class="btn btn-primary mb-2" style="margin-top: 20px;">Update </button>
                                                          
                                                      </div>
                                            </div>
                                      </div>
                                                  
                                      
                        </div>
                    </div>

         
     </div>
    
  </form>
  <!-- </div> -->


  <!-- JavaScript(s) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

  <script src="js/sideBar.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
          const data = {
            labels: [
              'Red',
              'Green',
              'Yellow',
              'Grey',
              'Blue'
            ],
            datasets: [{
              label: 'My First Dataset',
              data: [11, 16, 7, 3, 14],
              backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(75, 192, 192)',
                'rgb(255, 205, 86)',
                'rgb(201, 203, 207)',
                'rgb(54, 162, 235)'
              ]
            }]
          };
  </script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>