body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #fff;
}

.box {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  justify-content: center;
}

.box .title {
  /* margin-top: 5%; */
  background-color: #a19f9f;
  font-size: 15px;
  font-weight: 300;
  padding: 25px 30px;
  position: relative;
  text-align: center;
  justify-content: center;
}

input[type="text"] {
  border: 20px;
  border: 0px solid #8ab9f1;
  background-color: #8ab9f1;
  /* border-radius: 24px; */
  outline: none;
  height: 10px;
  width: 80%;
  color: #000;
  margin: 10px auto;
  display: block;
  text-align: center;
  padding: 14px 10px;
  transition: all 0.2s ease-in;
}

.button input[type="submit"] {
  width: 20%;
  height: 25px;
  margin-left: 280px;
  background-color: #add8e6;
  border-color: #add8e6;
  align-content: center;
  border-radius: 30px;
}

div a {
  font-weight: bold;
}
